@model PhanMenHocTiengTrungAPI.Models.ChiTietBaiHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietBaiHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idBaiHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idBaiHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tuonghinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tuonghinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nghiatiengviet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nghiatiengviet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amthanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amthanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.d)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dapdan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dapdan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
