@model IEnumerable<PhanMenHocTiengTrungAPI.Models.ChiTietBaiHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idBaiHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tuonghinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nghiatiengviet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amthanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dapdan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idBaiHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tuonghinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nghiatiengviet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amthanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dapdan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
